<div class="login-container flex-rows">
    <!-- Columna izquierda (imagen) -->
    <div class="image-column">
        <img 
            src="../../../assets/images/login.svg" 
            alt="Background login"
            class="login-image"
        >
    </div>

    <!-- Columna derecha (formulario) -->
    <div class="form-column">
        <div class="form-wrapper flex-columns">
            <!-- Logo -->
            <div class="logo-container">
            <img src="../../../assets/images/logos/Logo-RD.svg" alt="Logo" class="logo">
            </div>
            
            <!-- Formulario -->
            <div class="login-form">
            <h2>Iniciar sesión en tu cuenta</h2>
            <!-- Campos irán aquí -->
            </div>
        </div>
    </div>
</div>